octave-core
*~

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
!InterruptionAirMediumVoltageLoadBreakSwitch.pdf
!Mediumvoltagelaboratory.pdf
!gasBlastBreak.pdf
!grunnlagHøyspen1.pdf
!grunnlagHøyspen2.pdf
!grunnlagHøyspen3.pdf
!miljøSF6.pdf
!kaldLuftSim.pdf
!compact-substation.pdf
!SF6conduct.pdf
!SF6Green.pdf
!prosjektoppgave.pdf
